
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
    }

    .container {
        min-width: 576px;
        width: 70vw;
        max-width: 992px;  
        margin: 20px auto;
    }